<section class="h-screen mt-5">
  <% if authenticated? %>
    <%= form_with url: session_path, method: :delete do |form| %>
      <%= form.submit 'Logout' %>
    <% end %>
  <% else %>
    <%= link_to 'Sign in', new_session_path %>
  <% end %>
</section>
